# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
openpyxl=3.0.9=pypi_0
pandas=1.3.4=py38h9197a36_0
selenium=3.141.0=py38h1a28f6b_1000
